body {
  font-family: 'Baloo Tamma', sans-serif;
  font-size: 16pt;
  background-color: #c2c2d6;
}

button {
  display: block;
  width: 300px;
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
}

div#messages {
    float: right;
    white-space: pre-line;
    font-size: 14pt;
}

button[disabled=disabled], button:disabled {
    color: #FFFFFF;
    background-color: #FFFFFF;
}